# Project exclude paths
/*/target/
/cloud-api-commons/target/
/cloud-consumer-order80/target/
/cloud-consumer-order80_consul/target/
/cloud-consumer-order80_zookeeper/target/
/cloud-eurake-server7002/target/
/cloud-eureka-server7001/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-provider-payment8004_zookeeper/target/
/cloud-provider-payment8006_consul/target/